.calculator{
  display:flex;
  align-items: center;
  justify-content:space-around;
  padding: 80px;
}
.inputs{
  display: flex 1;
  align-items: center;
  justify-content: space-between;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }